@model Kodmine.Model.Models.Tag

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Удалить тег?</h3>
<div>
    <h4>Тег</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Удалить" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary"><i class="icon-plus"></i> <span>Отмена</span></a>
    </form>
</div>
</body>
</html>
