@using Kodmine.ViewModel.Topic;

@model Kodmine.Model.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h3>Редактирование</h3>

<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    @*<input type="hidden" asp-for="RubricId" />*@
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*------------------------------------------------------------*@
    @*РУБРИКА*@
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Рубрика</label>
                <select asp-for="RubricId" asp-items="ViewBag.rubListViewModel" id="select-topic-list" class="form-control">
                    <option id="0" hidden disabled selected> -- Выберите рубрику -- </option>
                </select>
                <span asp-validation-for="RubricId" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*------------------------------------------------------------*@
    @*ТЕГИ*@
    @*------------------------------------------------------------*@
    <div class="row">
        @await Html.PartialAsync("~/Views/Post/Edit/_Tags.cshtml")
    </div>
    @*------------------------------------------------------------*@
    @*Слова для поиска*@
    @*------------------------------------------------------------*@
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="Keys" class="control-label"></label>
                <textarea asp-for="Keys" class="form-control"></textarea>
            </div>
        </div>
    </div>
    @*------------------------------------------------------------*@
    @*Контент*@
    @*------------------------------------------------------------*@
    <div class="row">
        <div class="col-md-10">
            <div class="form-group" id="content-group">
                <label asp-for="Content" class="control-label"></label>
                <div>
                    <a href="#" onclick="savePostContent()">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </a>
                    <button type="button" id="mode-btn" class="btn"><></button>
                    <span id="btn-group-edit">
                        <button type="button" id="p-btn" class="btn">P</button>
                        <button type="button" id="h1-btn" class="btn">H1</button>
                        <button type="button" id="h2-btn" class="btn">H2</button>
                        <button type="button" id="h3-btn" class="btn">H3</button>
                        <button type="button" id="h4-btn" class="btn">H4</button>
                        <button type="button" id="bold-btn" class="btn">B</button>
                        <button id="italic-btn" class="btn">I</button>
                        <button type="button" id="code-btn" class="btn">Code</button>
                        <button type="button" id="code-block-btn" class="btn">CodeBlock</button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                            Image
                        </button>
                        <button type="button" id="encode-btn" class="btn">Encode</button>
                        <button type="button" id="readmore-btn" class="btn">RM</button>
                        <button type="button" id="clean-btn" class="btn">Clean</button>
                    </span>
                </div>
                <br />
                @*<a href="@Url.Action("CleanContent", "Post", new { text = "" })" data-ajax="true" data-ajax-mode="replace" data-ajax-failure="showError" data-ajax-update="#post_addr_form" id="pa_load_form">Очистить</a>*@
                <div id="post_addr_form"></div>
                <div id="view-render" style="padding:5px;" contentEditable="true" onkeydown="saveFromRenderEditor(event);">@Html.Raw(Model.Content)</div>
                <div id="view-html" style="display:none;">
                    <textarea name="Content" id="Content" class="form-control" rows="20" style="background-color:black;color:white;border: 1px solid #ccc;padding: 5px;" onkeydown="saveFromHtmlEditor(event);">@Model.Content</textarea>
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<a href="@Url.Action("SaveContent", "Post", new { content = "123", id = "14" })" data-ajax="true" data-ajax-mode="replace" data-ajax-failure="showError" data-ajax-update="#post_addr_form" id="pa_load_form">Cecwecw</a>
<div id="post_addr_form"></div>*@

@*<div>
    <a asp-action="Index">Назад</a>
</div>*@

@*@using (Ajax.BeginForm("EmployeeMaster", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp" }))
    {
        //form content
    }*@

@{ await Html.RenderPartialAsync("~/Views/Post/Edit/_ImageLoad_Modal.cshtml"); }

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/Post/Edit/Script.cshtml"); }
}