@model IEnumerable<Kodmine.Model.Models.Rubric>

<ul class="nav flex-column">
    @if (Model != null)
    {
        foreach (var rub in Model)
        {
            <li class="nav-item">
                <a class="nav-link active" href="#">@(rub.Name)</a>
            </li>
        }
    }
</ul>

@*<li class="nav-item">
    <a class="nav-link disabled" href="#"></a>
</li>*@