@model Kodmine.Model.Models.Rubric

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Удалить рубрику?</h3>
<div>
    <h4>Рубрика</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RubricId" />
        <input type="submit" value="Удалить" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary"><i class="icon-plus"></i> <span>Отмена</span></a>
    </form>
</div>
