@model Kodmine.ViewModel.Tag.TagViewModel;

<div class="egg-tag">
    <span class="egg-tag-title">@Model.Name</span><span class="egg-tag-id" hidden>@Model.Id</span>
    <a onclick="onClickRemoveTag(this);">
        <img src="~/images/si-glyph-button-error.svg" />
    </a>
</div>