body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.main-content {
    padding: 1rem 1rem 0 1rem;
}

.main-content a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.main-content a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.post-view {
    font-size: 16px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.logo_tech {
    max-width: 50px;
    height: auto;
}

.post-content-shortened {
    margin-top: 5px;
    margin-bottom:5px;
    color: gray;
}

.post-content-date {
    font-size: smaller;
}

.post-content-tags {
    text-transform: uppercase;
}

.view-post-shortened h3 {
    font-family: Calibri;
    font-size: 28px;
}

/*.navbar {
    background: #F97300;
}

.nav-link, .navbar-brand {
    color: #f4f4f4 !important;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}*/

/**/
/*Post edit*/
/**/

    option:disabled {
        background-color: rgba(183, 183, 183, 0.2)
    }

    .egg-tag {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        border: solid;
        border-color: #dddddd;
        border-width: thin;
        border-radius: 20px 20px;
        /*font-size: larger;*/
        vertical-align: middle;
    }

    .egg-tag a {
        /*margin: 0;
        padding: 0;*/
        cursor: pointer;
        opacity: .5;
    }

    .egg-tag a img {
        vertical-align: baseline;
        max-width: 20px;
        height: 15px;
    }

    .egg-tag a:hover {
        opacity: 0.75;
    }

